<li class="nav-item">
    <a href="{{ path("socialauth.admin.index") }}" class="nav-link {{ is_subpath('socialauth.admin.index') ? 'active' }}">
        <i class="nav-icon fas fa-at"></i>
        <p>
            SocialAuth
        </p>
    </a>
</li>